

    <section>
        <div class="container">
            <div class="course_details">


                <h1>Web Design Certification Training</h1>
                <br>
                <ul>
                    <li>Learn Java Webservices through industry cases</li>
                    <li>Java is a platform independent language and is used globally</li>
                    <li>Java Certification Training gives you knowledge on concepts of array, loops, functions,
                        collections, threads, servlets</li>
                    <li>Java Certification Training covers various topics of core java as well as advanced java</li>
                </ul>
            </div>
            <br><br>
            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="row row-cols-2 row-cols-sm-2 g-4">
                    <div class="col-sm-3">
                        <span style="color: #f5a623; font-size:20px">5000+</span>
                        <br>
                        <span style="font-size: 14px;
    color: rgba(18,14,61,.35);">Students empowered</span>
                    </div>
                    <div class="col-sm-3">
                        <span style="color: #ff8982; font-size:20px">Online</span>
                        <br>
                        <span style="font-size: 14px;
    color: rgba(18,14,61,.35);">Format</span>
                    </div>
                    <div class="col-sm-3">
                        <span style="color: #00ab; font-size:20px">32 hr</span>
                        <br>
                        <span style="font-size: 14px;
    color: rgba(18,14,61,.35);">Recommended 30-35 hr</span>
                    </div>
                    <div class="col-sm-3">
                        <span style="color: #00c190; font-size:20px">Jul 26</span>
                        <br>
                        <span style="font-size: 14px;
    color: rgba(18,14,61,.35);">Start date</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="UpcomingBatches">
        <div class="container">
            <h2 style="font-weight: 350;">Upcoming Batches</h2>
            <span class="underLine"></span>
            <br><br>
            <!-- <br>
            <div style="background-image: url({{baseUrl}}assets/images/bg_course.png);">
    
            </div> -->
            <div class="card upcoming_batch_details" style="background-image: url({{baseUrl}}assets/images/bg_course.png);">
                <div class="card-body">
                    <div class="row text-white">
                        <div class="col-sm-6">
                            <h5>Course fees</h5>
                            <div class="price">
                                ₹12,990.00
                            </div>
                                <p><span style="text-decoration: line-through;">₹18,990.00</span> Discount offered worth ₹6,000.00 </p>
                            
                            <div class="progress" style="border-radius: 150px; width: 90%;">
                                <div class="progress-bar w-75 bg-warning"></div>
                            </div>
                            <p style="font-size: 15px; margin-top: 5px;">Batches are getting filling fast… <strong>HURRY UP!</strong></p>
                            <button class="btn text-white" style="background-color: #1dcea6;">Enroll Now</button>
                        </div>
                        <div class="col-sm-1" style="border-left: 1px dashed white;"></div>
                        <div class="col-sm-5">
                            <h3 id="advisors">Not sure? Talk to our advisors</h3>
                            <p>Drop your email and phone no. our advisors will get you soon</p>
                            <div class="mb-3">
                                <input type="email" class="form-control w-75" id="exampleFormControlInput1"
                                    placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control w-75" id="exampleFormControlInput1"
                                placeholder="Phone">
                            </div>
                            <button class="btn text-white" style="background-color: #1dcea6;">Send</button>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
                        <div class="col">
                          <div class="card h-100">
                           
                            <div class="card-body">
                              <small class="card-title text-muted">Starting Date</small>
                              <h5 class="card-title">Jul 26</h5>
                              <small class="card-title text-muted">Batch</small>
                              <h5 class="card-title">Weekdays <small class="text-muted" style="font-size: 15px;">(4 weeks)</small></h5>
                              <small class="card-title text-muted">Time</small>
                              <h5 class="card-title">09:00am - 11:00am</h5>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                           
                            <div class="card-body">
                                <small class="card-title text-muted">Starting Date</small>
                                <h5 class="card-title">Jul 26</h5>
                                <small class="card-title text-muted">Batch</small>
                                <h5 class="card-title">Weekdays <small class="text-muted" style="font-size: 15px;">(4 weeks)</small></h5>
                                <small class="card-title text-muted">Time</small>
                                <h5 class="card-title">09:00am - 11:00am</h5>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                           
                            <div class="card-body">
                                <small class="card-title text-muted">Starting Date</small>
                                <h5 class="card-title">Jul 26</h5>
                                <small class="card-title text-muted">Batch</small>
                                <h5 class="card-title">Weekdays <small class="text-muted" style="font-size: 15px;">(4 weeks)</small></h5>
                                <small class="card-title text-muted">Time</small>
                                <h5 class="card-title">09:00am - 11:00am</h5>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                           
                            <div class="card-body">
                                <small class="card-title text-muted">Starting Date</small>
                                <h5 class="card-title">Jul 26</h5>
                                <small class="card-title text-muted">Batch</small>
                                <h5 class="card-title">Weekdays <small class="text-muted" style="font-size: 15px;">(4 weeks)</small></h5>
                                <small class="card-title text-muted">Time</small>
                                <h5 class="card-title">09:00am - 11:00am</h5>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Key Highlights</h3>
                    <span class="underLine"></span>
                    <br>
                    <ul id="key" style="margin: 0; padding: 0;">
                        <li class="ng-star-inserted">Experienced Trainers</li>
                        <li class="ng-star-inserted">Profile Building</li>
                        <li class="ng-star-inserted">Designed for Professionals</li>
                        <li class="ng-star-inserted">Dedicated Student Representative</li>
                        <li class="ng-star-inserted">Case Studies and Live Practical Project</li>
                        <li class="ng-star-inserted">Doubt Clearing Session</li>
                        <li class="ng-star-inserted">Complete Practical Training</li>
                        <li class="ng-star-inserted">No Cost EMI</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>Tools Covered</h3>
                    <span class="underLine"></span>
                    <br>
                    <div style="flex-flow: row wrap;
    box-sizing: border-box;
    display: flex">
                        <img _ngcontent-fua-c105="" alt="tools covered"
                            src="https://drive.google.com/uc?export=view&amp;id=1LnISX1eCh5LZz-xHvkiaMdx1q0iO9tYq"
                            class="ng-star-inserted" style="max-width: 100%;
    width: 115px;
    margin: 0 16px 16px 0;">
                        <img _ngcontent-fua-c105="" alt="tools covered"
                            src="https://drive.google.com/uc?export=view&amp;id=1LnISX1eCh5LZz-xHvkiaMdx1q0iO9tYq"
                            class="ng-star-inserted" style="max-width: 100%;
    width: 115px;
    margin: 0 16px 16px 0;">
                        <img _ngcontent-fua-c105="" alt="tools covered"
                            src="https://drive.google.com/uc?export=view&amp;id=1LnISX1eCh5LZz-xHvkiaMdx1q0iO9tYq"
                            class="ng-star-inserted" style="max-width: 100%;
    width: 115px;
    margin: 0 16px 16px 0;">
                        <img _ngcontent-fua-c105="" alt="tools covered"
                            src="https://drive.google.com/uc?export=view&amp;id=1LnISX1eCh5LZz-xHvkiaMdx1q0iO9tYq"
                            class="ng-star-inserted" style="max-width: 100%;
    width: 115px;
    margin: 0 16px 16px 0;">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <h3>Course Details</h3>
            <span class="underLine"></span>
            <p style="font-size: 16px;
    letter-spacing: .23px;
    color: rgba(18,14,61,.8);
    margin-top: 10px;">Learn from the best industry experts across the globe.</p>

            <div class="row">
                <div class="col-sm-5">
                    <p>Path</p>
                    <div class="card">
                        <div class="card-header bg-primary text-white p-3">
                            Java Certification Training
                        </div>
                        <div class="card-body">
                            <div class="row row-cols-3 row-cols-sm-3">
                                <div class="col-sm-3">
                                    <h3>5</h3>
                                    <span>Batches</span>
                                </div>
                                <div class="col-sm-3">
                                    <h3>32</h3>
                                    <span>Hours</span>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-danger" style="float:right;">Download syllabus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="card" style="border: 1px solid #ffc662; background-color:#fef5e6;">
                        <div class="card-body">
                            <h5 class="card-title">Get in touch with our expert technical advisor</h5>
                            <p class="card-text">Enroll in online/offline programs built with top industry standards,
                                with dedicated mentorship and expert career guidance</p>
                            <form>
                                <div class="form-group">
                                    <input type="text" name="" class="form-control" placeholder="Name">
                                </div>
                                <br>
                                <div class="form-group">
                                    <input type="text" name="" class="form-control" placeholder="Email">
                                </div>
                                <br>
                                <div class="form-group">
                                    <input type="text" name="" class="form-control" placeholder="Mobile">
                                </div>
                                <br>
                                <button class="btn text-white btn-sm" style="background-color: #1dcea6;">Enroll Now</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <p>Detailed curriculum</p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Accordion Item #1
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong> It is shown by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Accordion Item #2
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br><br><br>