<div id="section">
    <div class="container">
        <h1>Clients</h1>
        <p>Trusted by the best</p>
        <div class="row row-cols-3 row-cols-md-6 g-4">
            <div class="col-sm-2">
                <div class="card" style="border-radius: 50px;">
                    <div class="card-body">
                        <img src="https://www.teqstories.com/assets/images/01.png" width="100%">
                    </div>
                </div>
                
            </div>
            <div class="col-sm-2">
                <div class="card" style="border-radius: 50px;">
                    <div class="card-body">
                        <img src="https://www.teqstories.com/assets/images/02.png" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="border-radius: 50px;">
                    <div class="card-body">
                        <img src="https://www.teqstories.com/assets/images/03.png" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="border-radius: 50px;">
                    <div class="card-body">
                        <img src="https://www.teqstories.com/assets/images/04.png" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="border-radius: 50px;">
                    <div class="card-body">
                        <img src="https://www.teqstories.com/assets/images/05.png" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="border-radius: 50px;">
                    <div class="card-body">
                        <img src="https://www.teqstories.com/assets/images/06.png" width="100%">
                    </div>
                
            </div>
        </div>
    </div>
</div>