<section>
    <div class="container">
        <h1 style="font-weight: 400; color: #005b98; margin-bottom: 10px;">Trainee Stories</h1>
        <p>We at PixelTK are committed in delivering the best to our Trainee.</p>

        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div style="width:100%; background-color: #fafafa; height: 400px;"></div>
                    <div class="carousel-caption  d-md-block">
                        <img src="https://www.teqstories.com/assets/images/person4.png">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide. Some representative placeholder
                            content for the second slide.Some representative placeholder content for the second slide.
                        </p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div style="width:100%; background-color: #fafafa; height: 400px;"></div>
                    <div class="carousel-caption d-md-block">
                        <img src="https://www.teqstories.com/assets/images/person4.png">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide. Some representative placeholder
                            content for the second slide.Some representative placeholder content for the second slide.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="width:100%; background-color: #fafafa; height: 400px;"></div>
                    <div class="carousel-caption  d-md-block">
                        <img src="https://www.teqstories.com/assets/images/person4.png">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide. Some representative placeholder
                            content for the second slide.Some representative placeholder content for the second slide.
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>