<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{{baseUrl}}assets/images/banner.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
         
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{{baseUrl}}assets/images/2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
         
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{baseUrl}}assets/images/3.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
<section>
    <div class="container">
        
            <h1 id="popular-courses">Trending Courses</h1>
            <p id="desc">Upgrade yourself with the industry recognised course with one of the best leading industry
            developers.</p>
        
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{{baseUrl}}assets/images/angular-icon.svg" style="width:55px; height: 65px;">

                        <p class="card-title">Angular Certification Course</p>
                        <p class="card-text">Angular is a platform and framework for building single-page client
                            applications using HTML and TypeScript. Angular is written in TypeScript. It implements core
                            and optional functionality...</p>
                        <button class="float-right btn text-primary" style="float: right;" [routerLink]="['/courses/angular-certification-training-course']" routerLinkActive="router-link-active" >Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{{baseUrl}}assets/images/react.svg" style="width:55px; height: 65px;">
                        <p class="card-title">React Js Certification Course</p>
                        <p class="card-text">The React JS Certification Course is for web developers, programmers who
                            build awesome UI using React and Flux. ReactJS Certification helps the learner differentiate
                            in today's competition, broaden...</p>
                        <button class="float-right btn text-primary" style="float: right;" [routerLink]="['/courses/react-js-certification-training-course']" routerLinkActive="router-link-active">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{{baseUrl}}assets/images/html5.svg" style="width:55px; height: 65px;">
                        <p class="card-title">Web Design Certification Course</p>
                        <p class="card-text">Web design encompasses many different skills and disciplines in the
                            production and maintenance of websites. The different areas of web design include web
                            graphic design; user interface design...</p>
                        <button class="float-right btn text-primary" style="float: right;" [routerLink]="['/courses/web-design-certification-training-course']" routerLinkActive="router-link-active">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{{baseUrl}}assets/images/java.svg" style="width:55px; height: 65px;">
                        <p class="card-title">Java Certification Course</p>
                        <p class="card-text">Java is a high-level, class-based, object-oriented programming language
                            that is designed to have as few implementation dependencies as possible It is a
                            general-purpose programming language...</p>
                        <button class="float-right btn text-primary" style="float: right;" [routerLink]="['/courses/java-certification-training-course']" routerLinkActive="router-link-active">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{{baseUrl}}assets/images/php.svg" style="width:55px; height: 65px;">
                        <p class="card-title">PHP Certification Course</p>
                        <p class="card-text">PHP is a general-purpose scripting language especially suited to web
                            development.[6] It was originally created by Danish-Canadian programmer Rasmus Lerdorf in
                            1994. PHP originally stood for Personal Home Pag...</p>
                        <button class="float-right btn text-primary" style="float: right;" [routerLink]="['/courses/php-certification-training-course']" routerLinkActive="router-link-active">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{{baseUrl}}assets/images/laravel.svg" style="width:55px; height: 65px;">
                        <p class="card-title">Laravel Certification Course</p>
                        <p class="card-text">Laravel is a free, open-source PHP web framework, created by Taylor
                            Otwell and intended for the development of web applications following the (MVC) pattern and based on Symfony....</p>
                        <button class="float-right btn text-primary" style="float: right;" [routerLink]="['/courses/laravel-certification-training-course']" routerLinkActive="router-link-active">Read More</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<br>
<app-customer-feedback></app-customer-feedback>
<br><br>
<app-clients></app-clients>
<br>
<section>
    <div class="container">
        <h1 style="font-size: 40px;
font-weight: 400;
color: #005b98;
margin-bottom: 40px;">The PixelTK Benefits</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">

                    <div class="card-body">
                        <img src="https://www.teqstories.com/assets/images/adv03.jpg" class="card-img-top" alt="...">
                        <br><br>
                        <h3 class="card-title text-muted">Free Demo Session</h3>
                        <hr>
                        <p class="card-text">Experience the Demo session from our best instructors by getting in touch
                            with our technical representatives.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">

                    <div class="card-body">
                        <img src="https://www.teqstories.com/assets/images/adv02.jpg" class="card-img-top" alt="...">
                        <br><br>
                        <h3 class="card-title text-muted">Access to LMS</h3>
                        <hr>
                        <p class="card-text">The TeqStories LMS portal keeps you updated with a huge library of recorded
                            video lectures and supports with an active community for all your queries.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">

                    <div class="card-body">
                        <img src="https://www.teqstories.com/assets/images/adv01.jpg" class="card-img-top" alt="...">
                        <br><br>
                        <h3 class="card-title text-muted">24/7 Trainer Support</h3>
                        <hr>
                        <p class="card-text" style="">Our senior mentors are always happy to guide on your doubt
                            clarifications and provide consultation to ensure a smooth learning experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
     <h1 style="font-size: 40px; font-weight: 400;
 color: #005b98;
 margin-bottom: 10px;">FAQs</h1>
        <div class="accordion" id="accordionExample">
<div class="accordion-item">
 <h2 class="accordion-header" id="headingOne">
   <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
     Accordion Item #1
   </button>
 </h2>
 <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
   <div class="accordion-body">
     <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
   </div>
 </div>
</div>
<div class="accordion-item">
 <h2 class="accordion-header" id="headingTwo">
   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
     Accordion Item #2
   </button>
 </h2>
 <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
   <div class="accordion-body">
     <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
   </div>
 </div>
</div>
<div class="accordion-item">
 <h2 class="accordion-header" id="headingThree">
   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
     Accordion Item #3
   </button>
 </h2>
 <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
   <div class="accordion-body">
     <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
   </div>
 </div>
</div>
</div>
    </div>
</section>
<br><br>
   <section>
       <div class="container-fluid">
           <div class="row">
               <div class="col-sm-8 bg-primary text-white text-center p-3">
                   Get ready to achieve your learning goals with TEQSTORIES
               </div>
               <div class="col-sm-4 bg-light text-white text-center p-3">
                   <button class="btn btn-primary">Quick Enquiry</button>
               </div>
           </div>
       </div>
   </section>
<br><br>
   <section style="background-image: url({{baseUrl}}assets/images/footer.png);
    padding: 150px 0;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 0;">
       <p style="max-width: 450px;
    font-size: 38px;
    font-weight: 500;
    letter-spacing: .5px;
    color: white;">You have to dream before<br>your dreams can come true</p>
   </section>

   <!-- <footer class="bg-dark text-white">
       <div class="container">
           <div class="row">
               <div class="col-sm-3">
                  <h4>Follow us</h4>
                  <a href=""><img src="https://www.teqstories.com/assets/images/fb_icon.png" style="width: 20px;height: 20px;"></a>
                  <a href=""><img src="https://www.teqstories.com/assets/images/fb_icon.png" style="width: 20px;height: 20px;"></a>
                  <a href=""><img src="https://www.teqstories.com/assets/images/fb_icon.png" style="width: 20px;height: 20px;"></a>
                  <a href=""><img src="https://www.teqstories.com/assets/images/fb_icon.png" style="width: 20px;height: 20px;"></a>
                  <a href=""><img src="https://www.teqstories.com/assets/images/fb_icon.png" style="width: 20px;height: 20px;"></a>
                  <a href=""><img src="https://www.teqstories.com/assets/images/fb_icon.png" style="width: 20px;height: 20px;"></a>

               </div>
               <div class="col-sm-6">
                <h4>Trending Certification Courses</h4>
                   <div class="row">
                       <div class="col">
                           <ul style="list-style-type:none; margin: 0; padding: 0;">
                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>

                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>
                           </ul>
                       </div>
                        <div class="col">
                           <ul style="list-style-type:none; margin: 0; padding: 0;">
                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>

                               <li> Machine Learning Certification </li>
                               <li> Machine Learning Certification </li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="col-sm-3">
                   
               </div>
           </div>
       </div>
   </footer> -->